<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <h4 class="mb-2"> Search </h4>
      <form action="/search">
        <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-2">
          <div class="input-group mb-2 mb-sm-0 mr-sm-2">
            <input type="text" name="keyword" class="form-control" placeholder="Restaurant or Category"
              aria-label="Restaurant Name..." aria-describedby="button-addon2" value="{{keyword}}" />
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
          <div class="dropdown">
            <button class="btn btn-major ml-1 dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
              aria-expanded="false">
               Sort By
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item" href="/sort/nameAsc">A to Z</a></li>
              <li><a class="dropdown-item" href="/sort/nameDesc">Z to A</a></li>
              <li><a class="dropdown-item" href="/sort/category">Category</a></li>
              <li><a class="dropdown-item" href="/sort/location">Location</a></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      {{#if restaurant}}
      <div class="row row-cols-sm-3">
        {{#each restaurant}}
          <div>
            <a href="/restaurants/{{this._id}}" class="text-secondary">
              <div class="card mb-3">
                <img class="card-img-top" src={{this.image}} alt={{this.name}}>
                <div class="card-body p-3">
                  <h6 class="card-title mb-1">{{this.name}}</h6>
                  <h6 class="card-title mb-1">{{this.name_en}}</h6>
            
                  <div class="restaurant-category mb-1">
                    <i class="fas fa-utensils pr-2"></i> {{this.category}}
                  </div>
            
                  <span class="badge badge-pill badge-danger font-weight-normal">
                    {{this.rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                </div>
              </div>
            </a>
            <div class="d-flex justify-content-end">
              <a class="ms-3 mb-5 btn btn-outline-secondary" href="/restaurants/{{ this._id }}/edit" role="button">Edit</a>
              <a class="ms-3 mb-5 btn btn-outline-secondary" href="/restaurants/{{ this._id }}" role="button">Detail</a>
              <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="ms-3 mb-5 btn btn-outline-danger" type="submit">Delete</button>
              </form>
            </div>
            
          </div>  
        {{/each}}
      </div>     
      {{else}}
        <h1> Cannot find the matched restaurant. Please try again! </h1>
      {{/if}} 
    </div>
  </div>
</div>